[submodule "bingo"]
	path = bingo
	url = git@github.com:tmorgan7192/bingo.git
[submodule "Monty-Hall-Simulator"]
	path = Monty-Hall-Simulator
	url = git@github.com:tmorgan7192/Monty-Hall-Simulator.git
